@charset "utf-8";

/* scrollbar */
.c-scrollbar::-webkit-scrollbar {width: 8px;}
.c-scrollbar::-webkit-scrollbar-track {/*ackground-color: #f2f2f2;*/border-radius: 6px;margin: 30px 0;}
.c-scrollbar::-webkit-scrollbar-thumb {background-color: #777777;border-radius: 6px;}

/* tab */
.tab-base ul{display:flex;}
.tab-base li a{display:block;text-align:center;line-height:1;}
.tab-base.gnb ul{gap:8px;}
.tab-base.gnb li a{font-size:17px;font-weight:500;color:#93bffd;padding: 13.5px 30px;border-radius: 30px;box-shadow: inset 4px 4px 5px 0 rgba(0, 0, 0, 0.8);background-color: #2c2c2c;min-width:100px;}
.tab-base.gnb li.on a{box-shadow: inset -4px -4px 2px 0 rgba(23, 34, 84, 0.2), inset 4px 4px 2px 0 rgba(255, 255, 255, 0.3);background-color: #93bffd;color:#172254;}
.tab-base.map{border-radius: 18px;box-shadow: 0 2px 5px 0 rgba(15, 22, 56, 0.8);background-color: #343840;display:inline-block;overflow:hidden;}
.tab-base.map li a{font-size:13px;padding:11.5px 16px;}
.tab-base.map li:first-child a{padding-left:20px;}
.tab-base.map li:last-child a{padding-right:20px;}
.tab-base.map li.on a, .tab-base.map li a:active{background-color:#2558eb;}
.tab-base.etc{display:inline-block;border-radius: 8px;background-color: rgba(219, 232, 254, 0.1);padding:4px 8px;width:100%;}
.tab-base.etc ul{gap:0 40px;}
.tab-base.etc li{flex:1;}
.tab-base.etc li a{padding:9.5px 12px;border-radius:4px;font-size:15px;font-weight:700;color:#93bffd;}
.tab-base.etc li.on a, .tab-base.etc li a:active{background-color:#2558eb;color:#fff;}
.tab-base.period{display:inline-block;border:1px solid #93bffd;border-radius:24px;padding:3px 5px;}
.tab-base.period li a{padding:8px 4px;font-size:15px;font-weight:500;color:#93bffd;border-radius:22px;min-width:56px;}
.tab-base.period li.on a{font-weight:700;color:#172254;background-color:#bfd7fe;}
.panel-base > li{display:none;}

.btn-ico{display:inline-block;width:28px;height:28px;font-size:0;border-radius:4px;}
.btn-ico.reload{background:#3b77f6 url(../img/icon/ic-refresh.png) 50% 50% no-repeat;}

.control-area{display:flex;padding: 4px;border-radius: 30px;box-shadow: 0 2px 5px 0 rgba(15, 22, 56, 0.8);background-color: #343840;align-items: center;gap:0 8px;min-width:36px;justify-content:center;}
.control-area > a{display:block;background-position:50% 50%;background-repeat:no-repeat;}
.control-area > a.prev, .control-area > a.next{border-radius: 20px;background-color: rgba(255, 255, 255, 0.2);background-image: url(../img/icon/ic-next-w.png);width:28px;height:28px;}
.control-area > a.prev{transform:rotate(180deg);}
.control-area > a.pause{background-image:url(../img/icon/ic-stop-w.png);width:24px;height:24px;}
.control-area > a.pause.on{background-image:url(../img/icon/ic-next-w.png);width:24px;height:24px;}
.control-area.type-2{gap:0 16px;padding:9px 16px;border-radius: 8px;background-color: rgba(219, 232, 254, 0.1);box-shadow:none;}
.control-area.type-2 > a{width:24px;height:24px;background-image: url(../img/icon/ic-next-b.png);background-color:transparent;}
.control-area.type-2 > a.pause{background-image:url(../img/icon/ic-stop-b.png);}
.control-area.type-2 > a.pause.on{background-image:url(../img/icon/ic-arrow-r.png);}

.arrow-animation-wrap {display: flex;align-items: center;}
.arrow-animation-area {position: relative;width:5px;height:274px;overflow:hidden;}
.arrow-animation-area .arrow-animation{position: absolute;left:0;}
.arrow-animation-area .arrow-animation.up{bottom:0;}
.arrow-animation-area .arrow-animation.down{top:0;}
.arrow-animation {position: relative;width: 5px;height: 274px;overflow: hidden;}
.arrow-animation .arrow {position: absolute;left: 0;width: 5px;height: 4px;opacity: 0;
}
.arrow-animation.up {background: url(../img/accident/img-arrow-up-s.png) 0 0 no-repeat;}
.arrow-animation.down {background: url(../img/accident/img-arrow-down-s.png) 0 0 no-repeat;}

.arrow-animation-area.type-2 .arrow-animation{height: 436px;}
.arrow-animation-area.type-2 .arrow-animation.up {background: url(../img/accident/img-arrow-up-l.png) 0 0 no-repeat;}
.arrow-animation-area.type-2 .arrow-animation.down {background: url(../img/accident/img-arrow-down-l.png) 0 0 no-repeat;}

.arrow-animation.up .arrow.u1 { bottom: 0; animation-delay: 0s; }
.arrow-animation.up .arrow.u2 { bottom: 9px; animation-delay: 0.1s; }
.arrow-animation.up .arrow.u3 { bottom: 18px; animation-delay: 0.2s; }
.arrow-animation.up .arrow.u4 { bottom: 27px; animation-delay: 0.3s; }
.arrow-animation.up .arrow.u5 { bottom: 36px; animation-delay: 0.4s; }
.arrow-animation.up .arrow.u6 { bottom: 45px; animation-delay: 0.5s; }
.arrow-animation.up .arrow.u7 { bottom: 54px; animation-delay: 0.6s; }
.arrow-animation.up .arrow.u8 { bottom: 63px; animation-delay: 0.7s; }
.arrow-animation.up .arrow.u9 { bottom: 72px; animation-delay: 0.8s; }
.arrow-animation.up .arrow.u10 { bottom: 81px; animation-delay: 0.9s; }
.arrow-animation.up .arrow.u11 { bottom: 90px; animation-delay: 1s; }
.arrow-animation.up .arrow.u12 { bottom: 99px; animation-delay: 1.1s; }
.arrow-animation.up .arrow.u13 { bottom: 108px; animation-delay: 1.2s; }
.arrow-animation.up .arrow.u14 { bottom: 117px; animation-delay: 1.3s; }
.arrow-animation.up .arrow.u15 { bottom: 126px; animation-delay: 1.4s; }
.arrow-animation.up .arrow.u16 { bottom: 135px; animation-delay: 1.5s; }
.arrow-animation.up .arrow.u17 { bottom: 144px; animation-delay: 1.6s; }
.arrow-animation.up .arrow.u18 { bottom: 153px; animation-delay: 1.7s; }
.arrow-animation.up .arrow.u19 { bottom: 162px; animation-delay: 1.8s; }
.arrow-animation.up .arrow.u20 { bottom: 171px; animation-delay: 1.9s; }
.arrow-animation.up .arrow.u21 { bottom: 180px; animation-delay: 2s; }
.arrow-animation.up .arrow.u22 { bottom: 189px; animation-delay: 2.1s; }
.arrow-animation.up .arrow.u23 { bottom: 198px; animation-delay: 2.2s; }
.arrow-animation.up .arrow.u24 { bottom: 207px; animation-delay: 2.3s; }
.arrow-animation.up .arrow.u25 { bottom: 216px; animation-delay: 2.4s; }
.arrow-animation.up .arrow.u26 { bottom: 225px; animation-delay: 2.5s; }
.arrow-animation.up .arrow.u27 { bottom: 234px; animation-delay: 2.6s; }
.arrow-animation.up .arrow.u28 { bottom: 243px; animation-delay: 2.7s; }
.arrow-animation.up .arrow.u29 { bottom: 252px; animation-delay: 2.8s; }
.arrow-animation.up .arrow.u30 { bottom: 261px; animation-delay: 2.9s; }
.arrow-animation.up .arrow.u31 { bottom: 270px; animation-delay: 3s; }
.arrow-animation.up .arrow.u32 { bottom: 279px; animation-delay: 3.1s; }
.arrow-animation.up .arrow.u33 { bottom: 288px; animation-delay: 3.2s; }
.arrow-animation.up .arrow.u34 { bottom: 297px; animation-delay: 3.3s; }
.arrow-animation.up .arrow.u35 { bottom: 306px; animation-delay: 3.4s; }
.arrow-animation.up .arrow.u36 { bottom: 315px; animation-delay: 3.5s; }
.arrow-animation.up .arrow.u37 { bottom: 324px; animation-delay: 3.6s; }
.arrow-animation.up .arrow.u38 { bottom: 333px; animation-delay: 3.7s; }
.arrow-animation.up .arrow.u39 { bottom: 342px; animation-delay: 3.8s; }
.arrow-animation.up .arrow.u40 { bottom: 351px; animation-delay: 3.9s; }
.arrow-animation.up .arrow.u41 { bottom: 360px; animation-delay: 4s; }
.arrow-animation.up .arrow.u42 { bottom: 369px; animation-delay: 4.1s; }
.arrow-animation.up .arrow.u43 { bottom: 378px; animation-delay: 4.2s; }
.arrow-animation.up .arrow.u44 { bottom: 387px; animation-delay: 4.3s; }
.arrow-animation.up .arrow.u45 { bottom: 396px; animation-delay: 4.4s; }
.arrow-animation.up .arrow.u46 { bottom: 405px; animation-delay: 4.5s; }
.arrow-animation.up .arrow.u47 { bottom: 414px; animation-delay: 4.6s; }
.arrow-animation.up .arrow.u48 { bottom: 423px; animation-delay: 4.7s; }
.arrow-animation.up .arrow.u49 { bottom: 432px; animation-delay: 4.8s; }
.arrow-animation.up .arrow.u50 { bottom: 441px; animation-delay: 4.9s; }
.arrow-animation.up .arrow.u51 { bottom: 450px; animation-delay: 5s; }
.arrow-animation.up .arrow.u52 { bottom: 459px; animation-delay: 5.1s; }
.arrow-animation.up .arrow.u53 { bottom: 468px; animation-delay: 5.2s; }
.arrow-animation.up .arrow.u54 { bottom: 477px; animation-delay: 5.3s; }
.arrow-animation.up .arrow.u55 { bottom: 486px; animation-delay: 5.4s; }
.arrow-animation.up .arrow.u56 { bottom: 495px; animation-delay: 5.5s; }
.arrow-animation.up .arrow.u57 { bottom: 504px; animation-delay: 5.6s; }
.arrow-animation.up .arrow.u58 { bottom: 513px; animation-delay: 5.7s; }
.arrow-animation.up .arrow.u59 { bottom: 522px; animation-delay: 5.8s; }
.arrow-animation.up .arrow.u60 { bottom: 531px; animation-delay: 5.9s; }

.arrow-animation.down .arrow.d1 { top: 0; animation-delay: 0s; }
.arrow-animation.down .arrow.d2 { top: 9px; animation-delay: 0.1s; }
.arrow-animation.down .arrow.d3 { top: 18px; animation-delay: 0.2s; }
.arrow-animation.down .arrow.d4 { top: 27px; animation-delay: 0.3s; }
.arrow-animation.down .arrow.d5 { top: 36px; animation-delay: 0.4s; }
.arrow-animation.down .arrow.d6 { top: 45px; animation-delay: 0.5s; }
.arrow-animation.down .arrow.d7 { top: 54px; animation-delay: 0.6s; }
.arrow-animation.down .arrow.d8 { top: 63px; animation-delay: 0.7s; }
.arrow-animation.down .arrow.d9 { top: 72px; animation-delay: 0.8s; }
.arrow-animation.down .arrow.d10 { top: 81px; animation-delay: 0.9s; }
.arrow-animation.down .arrow.d11 { top: 90px; animation-delay: 1s; }
.arrow-animation.down .arrow.d12 { top: 99px; animation-delay: 1.1s; }
.arrow-animation.down .arrow.d13 { top: 108px; animation-delay: 1.2s; }
.arrow-animation.down .arrow.d14 { top: 117px; animation-delay: 1.3s; }
.arrow-animation.down .arrow.d15 { top: 126px; animation-delay: 1.4s; }
.arrow-animation.down .arrow.d16 { top: 135px; animation-delay: 1.5s; }
.arrow-animation.down .arrow.d17 { top: 144px; animation-delay: 1.6s; }
.arrow-animation.down .arrow.d18 { top: 153px; animation-delay: 1.7s; }
.arrow-animation.down .arrow.d19 { top: 162px; animation-delay: 1.8s; }
.arrow-animation.down .arrow.d20 { top: 171px; animation-delay: 1.9s; }
.arrow-animation.down .arrow.d21 { top: 180px; animation-delay: 2s; }
.arrow-animation.down .arrow.d22 { top: 189px; animation-delay: 2.1s; }
.arrow-animation.down .arrow.d23 { top: 198px; animation-delay: 2.2s; }
.arrow-animation.down .arrow.d24 { top: 207px; animation-delay: 2.3s; }
.arrow-animation.down .arrow.d25 { top: 216px; animation-delay: 2.4s; }
.arrow-animation.down .arrow.d26 { top: 225px; animation-delay: 2.5s; }
.arrow-animation.down .arrow.d27 { top: 234px; animation-delay: 2.6s; }
.arrow-animation.down .arrow.d28 { top: 243px; animation-delay: 2.7s; }
.arrow-animation.down .arrow.d29 { top: 252px; animation-delay: 2.8s; }
.arrow-animation.down .arrow.d30 { top: 261px; animation-delay: 2.9s; }
.arrow-animation.down .arrow.d31 { top: 270px; animation-delay: 3s; }
.arrow-animation.down .arrow.d32 { top: 279px; animation-delay: 3.1s; }
.arrow-animation.down .arrow.d33 { top: 288px; animation-delay: 3.2s; }
.arrow-animation.down .arrow.d34 { top: 297px; animation-delay: 3.3s; }
.arrow-animation.down .arrow.d35 { top: 306px; animation-delay: 3.4s; }
.arrow-animation.down .arrow.d36 { top: 315px; animation-delay: 3.5s; }
.arrow-animation.down .arrow.d37 { top: 324px; animation-delay: 3.6s; }
.arrow-animation.down .arrow.d38 { top: 333px; animation-delay: 3.7s; }
.arrow-animation.down .arrow.d39 { top: 342px; animation-delay: 3.8s; }
.arrow-animation.down .arrow.d40 { top: 351px; animation-delay: 3.9s; }
.arrow-animation.down .arrow.d41 { top: 360px; animation-delay: 4s; }
.arrow-animation.down .arrow.d42 { top: 369px; animation-delay: 4.1s; }
.arrow-animation.down .arrow.d43 { top: 378px; animation-delay: 4.2s; }
.arrow-animation.down .arrow.d44 { top: 387px; animation-delay: 4.3s; }
.arrow-animation.down .arrow.d45 { top: 396px; animation-delay: 4.4s; }
.arrow-animation.down .arrow.d46 { top: 405px; animation-delay: 4.5s; }
.arrow-animation.down .arrow.d47 { top: 414px; animation-delay: 4.6s; }
.arrow-animation.down .arrow.d48 { top: 423px; animation-delay: 4.7s; }
.arrow-animation.down .arrow.d49 { top: 432px; animation-delay: 4.8s; }
.arrow-animation.down .arrow.d50 { top: 441px; animation-delay: 4.9s; }
.arrow-animation.down .arrow.d51 { top: 450px; animation-delay: 5s; }
.arrow-animation.down .arrow.d52 { top: 459px; animation-delay: 5.1s; }
.arrow-animation.down .arrow.d53 { top: 468px; animation-delay: 5.2s; }
.arrow-animation.down .arrow.d54 { top: 477px; animation-delay: 5.3s; }
.arrow-animation.down .arrow.d55 { top: 486px; animation-delay: 5.4s; }
.arrow-animation.down .arrow.d56 { top: 495px; animation-delay: 5.5s; }
.arrow-animation.down .arrow.d57 { top: 504px; animation-delay: 5.6s; }
.arrow-animation.down .arrow.d58 { top: 513px; animation-delay: 5.7s; }
.arrow-animation.down .arrow.d59 { top: 522px; animation-delay: 5.8s; }
.arrow-animation.down .arrow.d60 { top: 531px; animation-delay: 5.9s; }

.arrow-animation.up .arrow {animation: move-up 3s infinite;}
.arrow-animation.down .arrow {animation: move-down 3s infinite;}


@keyframes move-up {
  0% {
      opacity: 1;
  }
  /* 60%, 100% { /* 더 느리게 반복됨 */
  30%, 100% {
      opacity: 0;
  }
}

@keyframes move-down {
  0% {
      opacity: 1;
  }
  /* 60%, 100% { /* 더 느리게 반복됨 */
  30%, 100% {
      opacity: 0;
  }
}

/* echart */
.chart-area{padding:8px 16px;border-radius:8px;background-color:#222934;position: relative;}
.chart-area.ver_barstack{min-height: 410px; padding: 16px 20px;}
.chart-area.ver_linebar{min-height: 322px; padding: 16px 20px;}
.chart-area.ver_doughnut{min-height: 342px; padding: 16px 20px;}
.chart-area.ver_bar{min-height: 217px; padding: 16px;}
.chart-area.ver_barv{min-height: 165px; padding: 19px 32px;}
.chart-area.ver_barv .sub-title{margin-bottom:16px;}
.chart-area .label{font-size:14px;font-weight:500;line-height:1.5;color:#b2bbce;text-align:center;display:block;}
.chart-area.bg-white{background-color:#fff;}

/* badge */
.s-badge{display:inline-block;padding:4px 12px;font-size:13px;font-weight:700;line-height:1.3;color:#172254;border-radius: 20px;}
.s-badge.gye{background-color: #3eb4f1;}
.s-badge.seoul{background-color: #9adeff;}
.s-badge.gan{background-color: #56c7ff;}
.s-badge.cb{background-color: #9940ff;color:#fff;}
.s-badge.dj{background-color: #bf87ff;}
.s-badge.sj{background-color: #ad65ff;color:#fff;}
.s-badge.cn{background-color: #7d20e7;color:#fff;}
.s-badge.jb{background-color: #0bfff7;}
.s-badge.gj{background-color: #00c8c1;}
.s-badge.jeju{background-color: #17c9b2;}
.s-badge.jn{background-color: #0bfff7;}
.s-badge.gb{background-color: #5979ff;color:#fff;}
.s-badge.dg{background-color: #1033c4;color:#fff;}
.s-badge.us{background-color: #3960ff;color:#fff;}
.s-badge.gn{background-color: #2348e2;color:#fff;}
.s-badge.busan{background-color: #879eff;}
