@charset "utf-8";

.tit-area{display:flex;justify-content:space-between;margin-bottom:8px;align-items:center;width:100%;}
.sub-title{font-size:20px;line-height:26px;display:flex;align-items:center;}
.sub-title::before{content:'';display:block;width:16px;height:16px;background:url(../img/icon/ic-bullet.png) 50% 50% no-repeat;margin-right:8px;}
.sub-title.pc::before, .sub-title.mo::before{width:24px;height:24px;margin-right:12px;}
.sub-title.pc::before{background:url(../img/service/ic-pc.png) 50% 50% no-repeat;}
.sub-title.mo::before{background:url(../img/service/ic-mobile.png) 50% 50% no-repeat;}
.sub-title strong{font-weight:700;}
.tit-area .tiny{font-size:13px;font-weight:500;color:#bfd7fe;}
.legend-info{display:flex;gap:0 16px;}
.legend-info li{font-size:13px;font-weight:500;line-height:1.3;color:#eff5ff;display:flex;gap:0 4px;align-items:center;}
.legend-info li::before{content:'';display:inline-block;width:12px;height:12px;border-radius:50%;}
.legend-info li.up::before{background-color: rgba(227, 126, 255, 0.5);}
.legend-info li.down::before{background-color: rgba(59, 119, 246, 0.7);}

.info-list{display:flex;gap:8px;width:100%;}
.info-list > li{width:33.333%; padding: 16px;border-radius: 8px;background-color: #222934;}
.info-list > li .s-tit{font-size:17px;display:block;line-height:1.3;font-weight:500;color:#dbe8fe;display:flex;align-items:center;gap:0 4px;}
.info-list > li .s-tit em{font-size:13px;color:#ffb3b0;}
.info-list > li .s-num{display:block;margin-top:30px;color:#93bffd;font-weight:700;font-size:15px;}
.info-list > li .s-num em{display:block;margin-top:2px;font-weight:inherit;}
.info-list > li.on{background-color: rgba(227, 126, 255, 0.15);}
.info-list > li.on .s-tit, .info-list > li.on .s-num{color:#f8eaff;}

.map-wrap .tit-area{padding:13px 24px; border-radius: 12px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);background-color: rgba(96, 156, 250, 0.3);position: absolute;width:auto;left:30px;top:30px;margin-bottom:0;}

.tip-area{position: absolute;padding: 12px;-webkit-backdrop-filter: blur(15px);backdrop-filter: blur(15px);background-color: rgba(27, 28, 30, 0.8);border:1px solid #93bffd;border-radius:8px;}
.tip-area .s-tit{font-size:15px;color:#bfd7fe;font-weight:700;line-height:1.3;}
.tip-area ul{margin-top:8px;}
.tip-area li{font-size:12px;line-height:1.3;font-weight:700;display:flex;justify-content:space-between;gap:0 4px;margin-top:2px;}
.tip-area li:first-child{margin-top:0;}
.tip-area li .label{color:#eff5ff;}
.tip-area li .count{color:#bfd7fe;}
.tip-area .s-move{display:flex;align-items: center;justify-content: space-between;padding:0 5px;}
.tip-area .s-move .ico{display:block;width:16px;height:16px;background:url(../img/icon/ic-arrow-r.png) 50% 50% no-repeat;}
.tip-area .s-time{display:block;font-size:24px;font-weight:700;color:#bfd7fe;text-align:center;line-height:1.3;margin-top:4px;}
.tip-area.ver_local{padding:0;overflow:hidden;-webkit-backdrop-filter: blur(15.5px);backdrop-filter: blur(15.5px);background-color: rgba(23, 34, 84, 0.6);border-radius: 8px;border: solid 1px rgba(255, 255, 255, 0.5);width:218px;}
.tip-area.ver_local dl dt{display:flex;justify-content:space-between;padding:6px 10px 4px;background-color:#222934;align-items:center;}
.tip-area.ver_local dl dt .status{display:flex;gap:0 4px;}
.tip-area.ver_local dl dt .status span{font-size:12px;color:#fff;font-weight:500;}
.tip-area.ver_local dl dd{padding:4px 10px;}
.tip-area.ver_local dl dd ul{margin-top:0;}
.tip-area.ver_local dl dd li .label{font-weight:500;}
.tip-area.ver_local dl dd li .result{font-weight:500;color:#bfd7fe;}
.tip-area.ver_local dl dd li.sm{font-size:11px;}
.tip-area.ver_local dl dd li.sm .label{display:flex;align-items:center;gap:0 4px;}
.tip-area.ver_local dl dd li.sm .label::before{content:'';display:inline-block;background:url(../img/connection/ic-bullet.png) 50% 50% no-repeat;width:7px;height:10px;}

.tb-flex{display:flex;width:100%;}
.tb-flex .tb-col-wrap{display:flex;width:100%;border-radius:8px;overflow:hidden;}
.tb-flex .arrow-animation-wrap{margin:0 4px;}
.tb-flex .arrow-animation-area{height:274px;}
.tb-flex .arrow-animation-area.type-2{height:436px;}
.tb-flex .tb-col-wrap.w-full{flex-grow:1;}
.tb-flex .tb-col{flex-grow:1;border-left:1px solid #1b1c1e;}
.tb-flex .tb-col:first-child{border-left:0;}

.tb-flex.theme-r .tb-col .tb-head{border-bottom: solid 1px rgba(240, 186, 255, 0.2);background-color: rgba(227, 126, 255, 0.3);}
.tb-flex.theme-r .tb-col .tb-body{background-color: rgba(227, 126, 255, 0.15);}

.tb-flex.theme-b .tb-col .tb-head{border-bottom: solid 1px rgba(147, 191, 253, 0.2);background-color: rgba(59, 119, 246, 0.3);}
.tb-flex.theme-b .tb-col .tb-body{background-color: rgba(59, 119, 246, 0.15);}

.tb-flex .tb-col .item{display:flex;align-items: center;justify-content: center;}
.tb-flex .tb-col .tb-head .item{flex-direction: column;font-size:17px;line-height:1.3;padding:7px 8px;height:44px;}
.tb-flex .tb-col .tb-body .item{gap:0 3px;height:52px;}
.tb-flex .tb-col .tb-head .item em{font-size:12px;display:block;}
.tb-flex .tb-col .tb-head.type-2 .item{height:52px;}
.tb-flex .tb-col .tb-body .item{font-size:15px;font-weight:500;padding:14.5px 8px;}
.tb-flex .tb-col .tb-body .item .diff{font-weight:700;}
.tb-flex .tb-col .tb-body .item .diff.up{color:#ff5d58;}
.tb-flex .tb-col .tb-body .item .diff.down{color:#1aa7ff;}

.collection-area{position: relative;width:100%;padding-bottom:21px;border-radius:0 0 8px 8px;overflow:hidden;}
.collection-area::before{content:'';display:block;width:100%;height:230px;background-image: linear-gradient(to bottom, rgba(96, 156, 250, 0), rgba(96, 156, 250, 0.2));position: absolute;left:0;bottom:0;}
.collection-content{position: relative;}
.collection-area .logo-list{display:flex;gap:0 8px;width:100%;}
.collection-area .logo-list > li{flex:1;position: relative;}
.collection-area .logo-list > li dt{padding:28px 12px;border-radius: 8px;background-color: rgba(96, 156, 250, 0.1);display:flex;flex-direction:column;}
.collection-area .logo-list > li.no-data dt{background-color: rgba(255, 255, 255, 0.1);}
.collection-area .logo-list > li.fail dt{background-color: rgba(227, 126, 255, 0.1);}
.collection-area .logo-list > li dt .txt{font-size:17px;line-height:1.3;margin-top:16px;}
.collection-area .logo-list > li dd{text-align:center;position:absolute;left:0;bottom:-65px;width:100%;}
.collection-area .logo-list > li dd .result{height:26px;display:flex;align-items:center;justify-content: center;}
.collection-area .logo-list > li dd .result.success{font-size:17px;color:#93bffd;display:flex;gap:0 4px;align-items:center;justify-content:center;}
.collection-area .logo-list > li dd .result.success em{font-size:20px;font-weight:700;}
.collection-area .logo-list > li dd .result.no-data,
.collection-area .logo-list > li dd .result.fail{font-size:20px;font-weight:700;}
.collection-area .logo-list > li dd .result.no-data{color:rgba(239, 245, 255, 0.7);}
.collection-area .logo-list > li dd .result.fail{color:#f8eaff;}
.collection-area .logo-list > li dd .result.fail::after{content:'';display:block;width:24px;height:24px;background:url(../img/connection/ic-fail.png) 50% 50% no-repeat;}
.collection-area .effect-area{padding:0 60px;margin-top:12px;position: relative;}
.collection-area .effect-area img{width:100%;}
.collection-area .effect-area .total-text{position: absolute;left:0;top:115px;width:100%;text-align:center;display:flex;align-items:center;justify-content: center;gap:0 4px;}
.collection-area .effect-area .total-text em{font-weight:700;font-size:20px;}
.collection-area .total-area{text-align:center;margin-top:12px;}
.collection-area .total-area .inner{display:inline-block;padding:16px 28px;border-radius: 8px;background-color: rgba(27, 28, 30, 0.5);}
.collection-area .total-area .inner p{display:flex;gap:0 6px;align-items:center;}
.collection-area .total-area .inner p span{line-height:1.3;}
.collection-area .total-area .inner p .txt{font-size:20px;font-weight:500;}
.collection-area .total-area .inner p .total{color:#fff;font-size:24px;font-weight:700;padding:6px 16px;border-radius:20px;background-color: #2558eb;}
.collection-area .total-area .inner p .total em{font-weight:700;}

.result-list{display:flex;gap:12px;flex-wrap:wrap;}
.result-list > li{width:calc(25% - 9px);padding:37px 16px;background-color:#222934;border-radius:8px;}
.result-list > li .tit{font-size:20px;line-height:1.28;font-weight:700;color:#bfd7fe;}
.result-list > li .tit + .detail{margin-top:20px;}
.result-list > li .detail li{margin-top:12px;}
.result-list > li .detail li:first-child{margin-top:0;}
.result-list > li .detail li span{display:block;font-weight:500;line-height:1.28;}
.result-list > li .detail li .label{font-size:15px;color:#eff5ff;}
.result-list > li .detail li .num{font-size:17px;color:#93bffd;margin-top:4px;}

/* 25-09 */
body.renew .tab-base.gnb li a{padding: 11px 18px;border-radius: 30px;}
body.renew .tab-base.gnb li.on a{box-shadow: inset -4px -4px 2px 0 rgba(23, 34, 84, 0.2), inset 4px 4px 2px 0 rgba(255, 255, 255, 0.3);background-color: #93bffd;}
body.renew .content-wrap .map-wrap, .content-wrap .chart-wrap{width:100%;}
.info-area{position: absolute;border: solid 4px #93bffd;background-color: rgba(255, 255, 255, 0.95);display:flex;border-radius:8px;}
.info-area .info-obj{padding:12px 15px 8px;flex:1 1 auto;min-width:146px;}
.info-area .info-obj:nth-child(2){border-left:4px solid #93bffd;}
.info-area .info-obj .i-local{font-size:20px;color:#343840;line-height:1.3;display:flex;align-items: center;justify-content: center;}
.info-area .info-obj .i-local span{display:block;flex-grow:1;font-weight:bold;}
.info-area .info-obj .i-local span.arrow{flex-shrink:0;}
.info-area .info-obj .i-local span.arrow img{vertical-align: middle;position: relative;top:-2px;}
.info-area .info-obj .i-time{font-size:32px;font-weight:bold;color:#172254;display:block;text-align:center;line-height:1.3;}
.info-flag{position: absolute;padding:4px 12px;background-color:#2558eb;font-size:20px;color:#fff;line-height:1.3;display:inline-block;border-radius:4px;}
.info-flag::after{content:'';display:block;position: absolute;left:-10px;top:32px;width:24px;height:20px;background:url('/img/new/ico-point-l.svg') 50% 50% no-repeat;}