@charset "utf-8";

body{width:100%;background-color:#1b1c1e;min-width:1600px;}

#header{position:relative;height:70px;z-index:1;padding:14px 30px;display:flex;align-items:center;justify-content:space-between;background: linear-gradient(90deg, rgba(219, 232, 254, 0.02) 0%, rgba(219, 232, 254, 0.10) 49.71%, rgba(219, 232, 254, 0.02) 100%);}
#header::after{content:'';display:block;width:100%;height:2px;background-image: linear-gradient(to right, #609cfa19, #609cfa 50%, #609cfa19);position: absolute;left:0;bottom:0;}
#header h1{font-size:32px;font-family: 'S-CoreDream';font-weight:700;color:#93bffd;}
#header h1 span{font-weight:300;}
.item-area{display:flex;align-items:center;gap:0 16px;}
.item-area .date{font-size:17px;color:#dbe8fe;opacity:0.8;}
.item-area .tab-base.period{margin-right:16px;}

.content-wrap{display:flex;}
.content-wrap .map-wrap, .content-wrap .chart-wrap{width:50%;height:100%;position: relative;overflow-y:auto;}
.content-wrap.ver_twinchart .chart-wrap:nth-child(1){padding-right:15px;}
.content-wrap.ver_twinchart .chart-wrap:nth-child(2){padding-left:15px;}
.content-wrap .map-wrap{/*border-radius:20px;*/overflow:hidden;}
.map-wrap .stick{position:absolute;display:inline-block;width:23px;height:82px;transition:background 0.2s;}
.map-wrap .stick.h39{height:39px;}
.map-wrap .stick.h51{height:51px;}
.map-wrap .stick.h108{height:108px;}
.map-wrap .stick.tp-blue{background:url(../img/map/stick_blue.png) 50% top no-repeat;}
.map-wrap .stick.tp-blue.h108{background:url(../img/map/stick_blue_h108.png) 50% top no-repeat;}
.map-wrap .stick.tp-blue.h51{background:url(../img/map/stick_blue_h51.png) 50% top no-repeat;}
.map-wrap .stick.tp-blue.h39{background:url(../img/map/stick_blue_h39.png) 50% top no-repeat;}
.map-wrap .stick.tp-blue.h31{background:url(../img/map/stick_blue_h31.png) 50% top no-repeat;}
.map-wrap .stick.tp-pink{background:url(../img/map/stick_pink.png) 50% top no-repeat;}
.map-wrap .stick.tp-yellow{background:url(../img/map/stick_yellow.png) 50% top no-repeat;}
.map-wrap .stick.tp-yellow.h51{background:url(../img/map/stick_yellow_h51.png) 50% top no-repeat;}
.map-wrap .stick.tp-yellow.h31{background:url(../img/map/stick_yellow_h31.png) 50% top no-repeat;}
.map-wrap .stick:hover{background:url(../img/map/stick_hover.png) 50% top no-repeat;}
.map-item {position: absolute;display:flex;gap:4px;}
.chart-wrap{padding:30px;}

.row-area{display:flex;gap:20px;margin-top:20px;width:100%;}
.row-area:first-child{margin-top:0;}
.row-area .col-area{flex:1;}