@charset "utf-8";

body{width:100%;background-color:#2a2d30;min-width:1600px;}

#header{position:relative;height:70px;z-index:1;padding:14px 30px;display:flex;align-items:center;justify-content:space-between;/*background-image: linear-gradient(to right, #dbe8fe33, #dbe8fe 50%, #dbe8fe33);*/}
#header::after{content:'';display:block;width:100%;height:2px;background-image: linear-gradient(to right, #609cfa19, #609cfa 50%, #609cfa19);position: absolute;left:0;bottom:0;}
#header h1{font-size:32px;font-family: 'S-CoreDream';font-weight:700;color:#93bffd;}
#header h1 span{font-weight:300;}
.item-area{display:flex;align-items:center;gap:0 16px;}
.item-area .date{font-size:17px;color:#dbe8fe;opacity:0.8;}
.item-area .tab-base.period{margin-right:16px;}

.content-wrap{display:flex;}
.content-wrap .map-wrap, .content-wrap .chart-wrap{width:50%;height:100%;position: relative;overflow-y:auto;}
.content-wrap .map-wrap{border-radius:20px;overflow:hidden;}
.map-wrap .stick{position:absolute;display:inline-block;width:23px;height:82px;transition:background 0.2s;}
.map-wrap .stick.h39{height:39px;}
.map-wrap .stick.h51{height:51px;}
.map-wrap .stick.h108{height:108px;}
.map-wrap .stick.tp-blue{background:url(../img/map/stick_blue.png) 50% top no-repeat;}
.map-wrap .stick.tp-blue.h108{background:url(../img/map/stick_blue_h108.png) 50% top no-repeat;}
.map-wrap .stick.tp-blue.h51{background:url(../img/map/stick_blue_h51.png) 50% top no-repeat;}
.map-wrap .stick.tp-blue.h39{background:url(../img/map/stick_blue_h39.png) 50% top no-repeat;}
.map-wrap .stick.tp-blue.h31{background:url(../img/map/stick_blue_h31.png) 50% top no-repeat;}
.map-wrap .stick.tp-pink{background:url(../img/map/stick_pink.png) 50% top no-repeat;}
.map-wrap .stick.tp-yellow{background:url(../img/map/stick_yellow.png) 50% top no-repeat;}
.map-wrap .stick.tp-yellow.h51{background:url(../img/map/stick_yellow_h51.png) 50% top no-repeat;}
.map-wrap .stick.tp-yellow.h31{background:url(../img/map/stick_yellow_h31.png) 50% top no-repeat;}
.map-wrap .stick:hover{background:url(../img/map/stick_hover.png) 50% top no-repeat;}
.map-item {position: absolute;display:flex;gap:4px;}
.tip-area{position: absolute;padding: 12px;-webkit-backdrop-filter: blur(15px);backdrop-filter: blur(15px);background-color: rgba(27, 28, 30, 0.8);border:1px solid #93bffd;border-radius:8px;}
.tip-area .s-tit{font-size:15px;color:#bfd7fe;font-weight:700;line-height:1.3;}
.tip-area ul{margin-top:8px;}
.tip-area li{font-size:12px;line-height:1.3;font-weight:700;display:flex;justify-content:space-between;gap:0 4px;margin-top:2px;}
.tip-area li:first-child{margin-top:0;}
.tip-area li .label{color:#eff5ff;}
.tip-area li .count{color:#bfd7fe;}
.chart-wrap{padding:30px;}

.row-area{display:flex;gap:20px;margin-top:20px;}
.row-area:first-child{margin-top:0;}
.row-area .col-area{flex:1;}

/* 이하 보류 */

.menu-dimm{position:fixed;left:0;top:0;width:100%;height:100%;background:#0b0b0b;z-index:9;display:none;}
.menu-wrap{position:fixed;right:0;top:0;width:100%;height:100%;z-index:10;transform:translateX(100%);transition:transform 0.2s;background:#fff;}
.menu-wrap.on{transform:translateX(0);}
.menu-wrap.active{transform:translateX(0);}
.menu-wrap .m-header .btn-back{position:absolute;left:20px;top:16px;width:30px;height:30px;background:url(../images/icons/Icon_Header_Arrow_Left.svg) 50% 50% no-repeat;background-size:auto 14px;display:block;font-size:0;text-indent:-20000px;}
.menu-wrap .m-header{position:relative;height:62px;border-bottom:1px solid rgba(0, 0, 0, 0.1);}
.menu-wrap .m-header h1{font-size:15px;padding-top:22px;text-align:center;}

.fm-wrap{position:fixed;left:0;bottom:-60px;width:100%;height:60px;background:#fff;z-index:1;transition:bottom 0.2s;box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);}
.fm-wrap.on{bottom:0;}
.fm-wrap ul{width:100%;}
.fm-wrap li{width:25%;float:left;}
.fm-wrap li a{display:block;width:100%;text-align:center;font-size:12px;line-height:15px;padding-top:6px;color:#878B96;}
.fm-wrap li a:before{content:'';display:block;width:30px;height:30px;margin:0 auto;}
.fm-wrap li.menu a:before{background:url(../images/icons/Icon_GNB_Hamberger.svg) 50% 50% no-repeat;background-size:17px auto;}
.fm-wrap li.home a:before{background:url(../images/icons/Icon_GNB_Home.svg) 50% 50% no-repeat;background-size:auto 19px;}
.fm-wrap li.use a:before{background:url(../images/icons/Icon_GNB_Manual.svg) 50% 50% no-repeat;background-size:auto 18px;}
.fm-wrap li.member a:before{background:url(../images/icons/Icon_GNB_LogIn.svg) 50% 50% no-repeat;background-size:auto 17px;}
.fm-wrap .btn-subscribe{font-size:15px;font-weight:bold;color:#333;position: absolute;right:20px;top:22px;}

.btn-top{position:fixed;right:10px;bottom:70px;width:40px;height:40px;font-size:0;display:none;border:1px solid rgba(0, 0, 0, 0.1);border-radius:100px;background:#fff;z-index:1;}
.btn-top.on{display:block;}
.btn-top:before{content:'';display:block;background:url(../images/icons/Icon_Arrow_Upper.svg) 50% 50% no-repeat;background-size:auto 14px;position:absolute;left:12px;top:12px;width:14px;height:14px;}

/*
@media screen and (min-width: 640px) {
  #wrapper{width:640px;overflow:hidden;}
  .menu-wrap.on{width:640px;overflow:hidden;left:50%;transform:translateX(-50%);}
  .fm-wrap{width:640px;left:50%;margin-left:-320px;}
}
*/

/* swiper & slick & flicking example */
.ex_wrp{max-width:790px;margin:0 auto;font-family:'Montserrat', 'Noto Sans KR', sans-serif;}
.ex_wrp pre{display:none;}
.ex_wrp pre.guide{display:block;}
.ex_wrp h2{font-size:24px;}
.ex_wrp h2 span{font-size:16px;}
.ex_wrp .section{margin-top:50px;position: relative;}
.ex_wrp h3{font-size:18px;padding:0 0 10px;}
.ex_wrp h3 button{display:inline-block;background-color:#333;color:#fff;padding:5px;border-radius:3px;font-size:12px;}
.ex_wrp .code-area{margin-top:30px;}